absl-py==1.2.0
addict==2.4.0
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==1.9.7
anaconda-project==0.8.3
antlr4-python3-runtime==4.8
appdirs==1.4.4
-e git+https://gitee.com/jiayu_zou/argoverse-api.git@575c222e7d7fa0c56bdc9dc20f71464c4bea2e6d#egg=argoverse
asn1crypto==1.0.1
astroid==2.3.1
astropy==3.2.2
atomicwrites==1.3.0
attrs==19.2.0
audioread==2.1.9
autopep8==1.6.0
Babel==2.7.0
backcall==0.1.0
backports.functools-lru-cache==1.5
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.8.0
bitarray==1.0.1
bkcharts==0.2
black==22.3.0
bleach==3.1.0
blobfile==2.0.0
bokeh==1.3.4
boto==2.49.0
Bottleneck==1.2.1
cachetools==4.2.4
certifi==2022.9.24
cffi==1.12.3
chamfer==2.0.0
chardet==3.0.4
chumpy==0.70
click==8.1.1
cloudpickle==1.2.2
clyent==1.2.2
colorama==0.4.1
colour==0.1.5
conda==22.11.0
conda-build==3.23.2
conda-package-handling==1.6.0
conda-verify==3.4.2
contextlib2==0.6.0
coverage==6.3.2
cPython==0.0.6
cryptography==2.7
cycler==0.10.0
Cython==0.29.13
cytoolz==0.10.0
dask==2.5.2
decorator==4.4.0
decord==0.6.0
defusedxml==0.6.0
descartes==1.1.0
dgl-cu111==0.6.1
dglgo==0.0.1
distributed==2.5.2
docutils==0.15.2
easydict==1.9
efficientnet-pytorch==0.7.1
einops==0.3.2
emd-ext==0.0.0
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
filelock==3.0.12
fire==0.4.0
Flask==1.1.1
freetype-py==2.2.0
fsspec==0.5.2
future==0.17.1
gevent==1.4.0
glob2==0.7
gmpy2==2.0.8
google-auth==2.9.1
google-auth-oauthlib==0.4.6
greenlet==0.4.15
grpcio==1.47.0
h5py==2.9.0
HeapDict==1.0.1
html5lib==1.0.1
hydra-core==1.1.0
idna==2.8
imageio==2.6.0
imageio-ffmpeg==0.4.7
imagesize==1.1.0
importlib-metadata==4.12.0
importlib-resources==5.4.0
interrogate==1.5.0
ipykernel==5.1.2
ipython==7.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==5.10.1
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.15.1
jeepney==0.4.1
Jinja2==2.10.3
joblib==1.1.1
json-tricks==3.15.5
json5==0.8.5
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==5.3.3
jupyter-console==6.0.0
jupyter-core==4.5.0
jupyterlab==1.1.4
jupyterlab-server==1.0.6
keyring==18.0.0
kiwisolver==1.1.0
KNN-CUDA==0.2
lap==0.4.0
lazy-object-proxy==1.4.2
libarchive-c==2.8
librosa==0.9.1
lief==0.9.0
llvmlite==0.29.0
locket==0.2.0
lxml==4.9.1
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.1.1
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.0.14
mkl-random==1.1.0
mkl-service==2.3.0
-e git+https://github.com/open-mmlab/mmaction2.git@5e853b1029d30e76786ebd92997e4f13e3e2cc03#egg=mmaction2
mmcv-full==1.3.15
# Editable install with no version control (mmdet==2.17.0)
-e /mnt/cfs/algorithm/jiayu.zou/anaconda3/lib/python3.7/site-packages/mmdet-2.17.0-py3.7.egg
-e git+https://github.com/open-mmlab/mmpose@6fed48d310dfb678cba9bf4630005dfa9ec1b7d7#egg=mmpose
# Editable install with no version control (mmsegmentation==0.16.0)
-e /mnt/cfs/algorithm/jiayu.zou/anaconda3/lib/python3.7/site-packages/mmsegmentation-0.16.0-py3.7.egg
mock==3.0.5
more-itertools==7.2.0
motmetrics==1.1.3
moviepy==1.0.3
mpi4py==3.0.3
mpmath==1.1.0
msgpack==0.6.1
multipledispatch==0.6.0
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.2.1
nbconvert==5.6.0
nbformat==4.4.0
networkx==2.3
nltk==3.4.5
nose==1.3.7
notebook==6.0.1
numba==0.45.1
numexpr==2.7.0
numpy==1.21.6
numpydoc==1.5.0
nuscenes-devkit==1.1.9
oauthlib==3.2.0
olefile==0.46
omegaconf==2.1.0
open3d==0.9.0.0
opencv-contrib-python==4.0.0.21
opencv-python==4.1.0.25
openpyxl==3.0.0
packaging==21.3
pandas==0.25.1
pandocfilters==1.4.2
parso==0.5.1
partd==1.0.0
path.py==12.0.1
pathlib2==2.3.5
pathspec==0.9.0
patsy==0.5.1
pep8==1.7.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==8.4.0
PIMS==0.6.0
pkginfo==1.5.0.1
platformdirs==2.5.2
pluggy==1.0.0
ply==3.11
polars==0.11.0
pooch==1.6.0
prettytable==2.2.1
proglog==0.1.9
progressbar==2.5
prometheus-client==0.7.1
prompt-toolkit==2.0.10
protobuf==3.19.1
psutil==5.6.3
ptyprocess==0.6.0
py==1.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.4
pycodestyle==2.8.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycryptodomex==3.16.0
pycurl==7.43.0.3
pydantic==1.9.1
pyflakes==2.1.1
pyglet==1.5.23
Pygments==2.4.2
pylint==2.4.2
pymongo==4.1.1
pyntcloud==0.1.5
pyodbc==4.0.27
PyOpenGL==3.1.0
pyOpenSSL==19.0.0
pyparsing==2.4.2
pyquaternion==0.9.9
pyrender==0.1.45
pyrsistent==0.15.4
PySocks==1.7.1
pytest==4.4.2
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.4.0
pytest-openfiles==0.4.0
pytest-remotedata==0.3.2
python-dateutil==2.8.0
PyTurboJPEG==1.6.6
pytz==2019.3
PyWavelets==1.0.3
PyYAML==5.1.2
pyzmq==18.1.0
QtAwesome==0.6.0
qtconsole==4.5.5
QtPy==1.9.0
regex==2022.4.24
requests==2.22.0
requests-oauthlib==1.3.1
resampy==0.2.2
rope==0.14.0
rsa==4.9
ruamel-yaml==0.15.46
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
scikit-image==0.15.0
scikit-learn==0.21.3
scipy==1.7.3
seaborn==0.9.0
SecretStorage==3.1.1
Send2Trash==1.5.0
Shapely==1.8.0
shutup==0.2.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
slicerator==1.1.0
smplx==0.1.28
snowballstemmer==2.0.0
some-package==0.1
sortedcollections==1.1.2
sortedcontainers==2.1.0
SoundFile==0.10.3.post1
soupsieve==1.9.3
Sphinx==5.0.2
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport==1.1.2
spyder==3.3.6
spyder-kernels==0.5.2
SQLAlchemy==1.3.9
statsmodels==0.10.1
sympy==1.4
tables==3.5.2
tabulate==0.8.9
tblib==1.4.0
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.1
termcolor==1.1.0
terminado==0.8.2
terminaltables==3.1.0
testpath==0.4.2
timm==0.3.2
toml==0.10.2
tomli==2.0.1
toolz==0.10.0
torch==1.9.1
torchvision==0.10.1
tornado==6.0.3
tqdm==4.36.1
traitlets==4.3.3
transforms3d==0.4.1
trimesh==3.10.8
ttach==0.0.3
typed-ast==1.5.3
typer==0.4.1
typing-extensions==3.10.0.2
unicodecsv==0.14.1
urllib3==1.26.13
wcwidth==0.1.7
webcolors==1.11.1
webencodings==0.5.1
Werkzeug==2.2.0
widgetsnbextension==3.5.1
wrapt==1.11.2
wurlitzer==1.0.3
xdoctest==1.0.0
xlrd==1.2.0
XlsxWriter==1.2.1
xlwt==1.3.0
xtcocotools==1.11.5
yapf==0.31.0
zict==1.0.0
zipp==3.8.0
